*{
    box-sizing: border-box;
    font-family: Verdan, sans-serif;
}

/* This is the body of the page */
body{
    padding: 0px;
    margin: 0px;
    max-width: 100vw;
    min-height: 100vh;
}

header{
    background-color: rgb(0, 125, 150);
    color: white;
    display: flex;
    padding-left: 170px;
    padding-right: 100px;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

h1{
    font-size: 25px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.hamburger {
    padding-right: 20px;
    cursor: pointer;
    margin-left: 250px;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: white;
}

.nav__link a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.nav__link a:hover {
    background-color: lightskyblue;
}

.hide {
    display: none;
}

h2 {
    font-size: 40px;
    color: rgb(0, 125, 150);
}

.main-wrapper{
    display: flex;
    justify-content: space-between;
    padding-left: 135px;
    padding-right: 60px;
    margin-top: 100px;
    font-size: 25px;
}

section{
    background-color: #EEEEEE;
    padding-left: 100px;
    padding-right: 20px;
    padding-bottom: 80px;
   
    
}

.content-wrapper{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 100px;
    margin-top: 20px;
}

h3{
    font-size: 40px;
    color: rgb(0, 125, 150);
    margin-top: 60px;
}

.contactme{
    background-color: rgb(0, 125, 150);
    color: white;
    font-size: 16px;
    height: 40px;
    width: 12%;
    border-radius: 7px;
    margin-top: 60px;
    border: none;
}

section img{
    padding: 20px 42px;
} 

.item-wrapper{
    display: flex;
    background-color:#468B97; 
}

.item {
    font-size: 30px;
    color: white;
    padding-left: 140px;
    margin-top: 20px;
}

.contact{
    color: rgb(0, 125, 150);  
    background-color: white;
    font-size: 16px;
    height: 40px;
    width: 10%;
    border-radius: 7px;  
    margin-top: 80px;
    margin-left: 150px;
    border: none;
 }

 .call{
    background-color: rgb(0, 125, 150);
    font-size: 16px;
    color: white;
    height: 40px;
    width: 10%;
    border-radius: 7px;
    margin-top: 80px;
    margin-left: 15px;
    border: none;
 }

 .image img{
       height: 50px;
    padding-right: 100px;
}

footer{
    background-color: rgb(0, 125, 150);
    color: white;
    padding: 50px;
    justify-content: center;
    text-align: center;
}
.logo a{
    color: white;  
}

cite{
    font-size: 14px;
    font-style: normal;
}

/* MEDIA QUERIE FOR PHONE */
@media screen and (min-width: 414px) {

    .nav__link {
        display: none;
        position: static;
        width: auto;
        margin-right: 20px;
        background: none;
    }

    .nav__link a {
        display: inline;
        padding: 15px 20px;
    }
    
    .hamburger {
        display: block;
        margin: 0 90px;
    }

    .main-wrapper{
        display: flex;
        flex-direction: column;
        margin: 20px -50px;
    }

    .main h2{
        width: 300px;
    }

    .content-wrapper{
        display: flex;
        flex-direction: column;
    }

    .content h3{
        width: 350px;
        margin: 0 -90px;
        padding-top: 40px;
    }

    .contactme{
        width: 120px;
        margin: 1rem -90px;
    }

    section img{
        margin-left: -80px;
    }

    .item-wrapper{
        display: flex;
        flex-direction: column-reverse;
    }

    .image{
        margin-left: 300px;
        margin-bottom: -50px;
    }

    .call{
        margin-left: 300px;
        width: 25%;
    }

    .contact{
        width: 25%;
        margin-top: -40px;
        margin-left: 180px;
    }

    .item{
        margin: 0 -120px;
        width: 100%;
    }
}
 /* MEDIA QUERY FOR IPAD */
@media screen and (min-width: 768px) {
   
    .nav__link {
        display: block;
        position: static;
        width: auto;
        margin-right: 20px;
        background: none;
    }

    .nav__link a {
        display: inline;
        padding: 15px 20px;
    }
    
    .hamburger {
        display: none;
    }

    .main-wrapper{
        display: flex;
        flex-direction: row;
       margin: 90px -100px;
    }

    .main h2{
        width: 90%;
    }

    .content-wrapper{
        display: flex;
        flex-direction: row;

    }
    .content h3{
        width: 350px;
        margin: 0 -90px;
        padding-top: 40px;
    }

    .contactme{
        width: 120px;
        margin: 2rem -70px;
    }

    section img{
        margin-left: -90px;
        margin-right: 25px;
    }

    .item-wrapper{
        display: flex;
        flex-direction: column-reverse;
    }

    .image{
        margin-left: 550px;
    }

    .call{
        margin-left: 550px;
        width: 20%;
    }

    .contact{
        width: 20%;
        margin-top: -40px;
        margin-left: 370px;
    }

    .item{
        margin: 0 -120px;
        width: 60%;
    }
}
/* MEDIA QUERY FOR LAPTOP */
@media screen and (min-width: 1024px) {
   
    .nav__link {
        display: block;
        position: static;
        width: auto;
        margin-right: 20px;
        background: none;
    }

    .nav__link a {
        display: inline;
        padding: 15px 20px;
    }
    
    .hamburger {
        display: none;
    }

    .main-wrapper{
        display: flex;
        flex-direction: row;
        margin: 100px 18px;
    }

    .main h2{
        width: 90%;
    }

    .content-wrapper{
        display: flex;
        flex-direction: row;
    }

    .content h3{
        width: 400px;
        margin: 40px 20px;
    }

    .contactme{
        width: 120px;
        margin: 70px 25px
    }

    section img{
        margin: 2px;
    }

    .item-wrapper{
        display: flex;
        flex-direction: column-reverse;
    }

    .image{
        margin-left: 800px;
    }

    .call{
        margin-left: 842px;
        width: 10%; 
    }

    .contact{
        width: 10%;
        margin-top: -40px;
        margin-left: 720px;
    }

    .item{
        margin: 0 5px;
        width: 65%;
    }
}

@media screen and (min-width: 1200px){

    .image{
        margin-left: 1100px;
    }

    .call{
        margin-left: 1100px;
        width: 10%; 
    }

    .contact{
        width: 10%;
        margin-top: -40px;
        margin-left: 920px;
    }

    .item{
        margin: 0 5px;
        width: 50%;
    }
}









  

